@model IEnumerable<News>
@foreach (var item in Model)
{
    <div class="one_news">
        <h3>
            @Html.DisplayFor(modelItem => item.Title)
        </h3>
        <p class="data">@item.InsertDate.ToShortDateString()</p>
        <img src="@Html.DisplayFor(modelItem => item.ImageURL)" />
                <p class="text">@Html.DisplayFor(modelItem => item.Content)</p>
                
        </div>
}
