@model IEnumerable<Sector>
@{
    ViewBag.Title = "Услуги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/services_css")
<header>

    <img src="/Content/images/mobile_menu.png" alt="Mobile Menu" class="toggle-nav" />

    <nav class="navigation">
        <ul class="menu active">
            <li>
                <a href="index.html">Главная</a>
            </li>
            <li>
                <a href="about.html">О нас</a>
            </li>
            <li>
                <a href="services.html">Услуги</a>
            </li>
            <li>
                <a href="news.html">Новости</a>
            </li>
            <li>
                <a href="partners.html">Партнеры</a>
            </li>
            <li class="click">
                <a href="#contacts">Контакты</a>
            </li>
        </ul>
    </nav>

    <div class="socials">
        <p>+38 (066) 355-84-12</p>
        <img src="/Content/images/vk.png" alt="vk" class="vk_button">
    </div>
    <div class="services_description">
        <h1>Предоставляемые услуги</h1>
        <p>
            Lorem ipsum dolar setamet isaka lumpa bara,
            sequero padre puredast cometa surka piramida ave.
            Roberto drinka spora buvelartun sizadra frumba gracia.
        </p>
    </div>
    <div class="services_lamp">
        <div>
            <img src="/Content/images/lamp_yellow_.png" alt="yellow lamp">
            <p>Cектор в разработке</p>
        </div>
        <div>
            <img src="/Content/images/lamp_green_.png" alt="green lamp">
            <p>Cектор работает</p>
        </div>
        <div>
            <img src="/Content/images/lamp_red_.png" alt="red lamp">
            <p>Cектор временно не работает</p>
        </div>
    </div>
</header>
<section class="services_middle">

    @Html.Partial("ServiceList", Model)
    <div class="sector" style="background: url('/Content/images/bar.jpg');background-size:cover;">
        <img src="/Content/images/lamp_green_.png" alt="green lamp" class="sector_lamp">
        <h2>Бар</h2>
        <p>
            Планировка помещений,
            советы по интерьеру
        </p>
        <button>Подробнее</button>
    </div>

    <div class="sector" style="background: url('/Content/images/kitchen.jpg');background-size:cover;">
        <img src="/Content/images/lamp_yellow_.png" alt="yellow lamp" class="sector_lamp">
        <h2>Кухня</h2>
        <p>
            Планировка помещений,
            советы по интерьеру
        </p>
        <button>Подробнее</button>
    </div>

    <div class="sector" style="background: url('/Content/images/lawyer.jpg');background-size:cover;">
        <img src="/Content/images/lamp_green_.png" alt="green lamp" class="sector_lamp">
        <h2>Юридические услуги</h2>
        <p>
            Планировка помещений,
            советы по интерьеру
        </p>
        <button>Подробнее</button>
    </div>


    <div class="sector" style="background: url('/Content/images/art.jpg');background-size:cover;">
        <img src="/Content/images/lamp_red_.png" alt="red lamp" class="sector_lamp">
        <h2>Арт-директор</h2>
        <p>
            Планировка помещений,
            советы по интерьеру
        </p>
        <button>Подробнее</button>
    </div>
</section>