@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("Content/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
  src: url("Content/fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* line 21, Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 32, sass/_grids.scss */
header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.5), rgba(179, 179, 255, 0.5) 90.90909%, transparent 90.90909%);
  background-size: 10.09174%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
  background: url("images/index_bg.jpg") no-repeat;
  background-size: 100% 100%;
  min-height: 800px;
}
/* line 12, Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
header:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 39, sass/_grids.scss */
.toggle-nav {
  display: none;
}

/* line 43, sass/_grids.scss */
.navigation {
  margin-left: 5.04587%;
  width: 49.54128%;
  float: left;
  margin-right: 0.91743%;
  margin-top: 20px;
}

/* line 49, sass/_grids.scss */
.navigation ul li {
  display: inline;
  padding-right: 25px;
}

/* line 54, sass/_grids.scss */
.navigation ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "RobotoCondensedRegular";
  font-size: 1.2em;
}

/* line 61, sass/_grids.scss */
.socials {
  margin-left: 10.09174%;
  width: 24.31193%;
  float: right;
  margin-right: 0;
  color: #fff;
  font-family: "RobotoCondensedRegular";
  font-size: 1.2em;
  margin-top: 20px;
}

/* line 70, sass/_grids.scss */
.socials p {
  width: 58.49057%;
  float: left;
  margin-right: 3.77358%;
}

/* line 74, sass/_grids.scss */
.socials img {
  width: 8.67925%;
  float: left;
  margin-right: 3.77358%;
  margin-top: 17px;
}

/* line 79, sass/_grids.scss */
.logotip {
  margin-left: 35.3211%;
  width: 29.3578%;
  float: left;
  margin-right: 0.91743%;
  margin-top: 100px;
}

/* line 85, sass/_grids.scss */
.logotip img {
  margin: 0 auto;
  display: block;
}

/* line 90, sass/_grids.scss */
.header_text {
  margin-left: 35.3211%;
  width: 31.37615%;
  float: left;
  margin-right: 0.91743%;
}

/* line 95, sass/_grids.scss */
.header_text h1 {
  color: #fff;
  font-family: "RobotoCondensedRegular";
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 0;
  text-align: center;
}

/* line 104, sass/_grids.scss */
.header_text p {
  color: #fff;
  font-family: "RobotoCondensedRegular";
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
}

/* line 112, sass/_grids.scss */
.header_text button {
  margin-left: 25.78125%;
  width: 48.4375%;
  float: left;
  margin-right: 3.125%;
  background: #e7c31d;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.7);
  border: none;
  height: 35px;
  border-radius: 5px;
  font-family: "RobotoCondensedRegular";
  font-weight: bold;
}

/* line 123, sass/_grids.scss */
.header_text button a {
  text-decoration: none;
  color: #fff;
}

/* line 128, sass/_grids.scss */
.middle {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.5), rgba(179, 179, 255, 0.5) 90.90909%, transparent 90.90909%);
  background-size: 10.09174%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
  min-height: 600px;
  margin-top: 20px;
  background: #fff;
}
/* line 12, Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.middle:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 135, sass/_grids.scss */
.about {
  margin-left: 7.06422%;
  width: 29.3578%;
  float: left;
  margin-right: 0.91743%;
  color: #373737;
  font-family: "RobotoCondensedRegular";
}

/* line 142, sass/_grids.scss */
.about h2 {
  font-size: 2em;
}

/* line 146, sass/_grids.scss */
.about p {
  font-size: 1.3em;
  line-height: 1.6;
}

/* line 151, sass/_grids.scss */
.about button {
  border-radius: 10px;
  border: 2px solid #e7c31d;
  height: 40px;
  background: #fff;
  width: 48.4375%;
  float: left;
  margin-right: 3.125%;
}

/* line 159, sass/_grids.scss */
.about span {
  font-weight: bold;
}

/* line 163, sass/_grids.scss */
.competitors {
  width: 24.31193%;
  float: left;
  margin-right: 0.91743%;
  margin-top: 55px;
  position: relative;
}

/* line 169, sass/_grids.scss */
.competitors img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 174, sass/_grids.scss */
.competitors p, .competitors .competitors_number {
  position: absolute;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  text-align: center;
  font-family: "RobotoCondensedRegular";
  color: #373737;
  font-weight: bold;
}

/* line 184, sass/_grids.scss */
.competitors .competitors_name {
  font-size: 1.4em;
  top: 90px;
}

/* line 189, sass/_grids.scss */
.competitors .competitors_number {
  font-size: 6em;
  top: 120px;
}

/* line 194, sass/_grids.scss */
.benefits {
  margin-left: 3.02752%;
  width: 30.36697%;
  float: left;
  margin-right: 0.91743%;
  color: #373737;
  font-family: "RobotoCondensedRegular";
  margin-top: 15px;
}

/* line 202, sass/_grids.scss */
.benefits .benefit_name {
  font-size: 1.5em;
  margin-bottom: 30px;
}

/* line 207, sass/_grids.scss */
.benefits div {
  margin-bottom: 40px;
}

/* line 211, sass/_grids.scss */
.benefits div img {
  width: 10.2719%;
  float: left;
  margin-right: 3.02115%;
}

/* line 215, sass/_grids.scss */
.benefits .benefit_text {
  margin-left: 13.29305%;
}



/* line 226, sass/_grids.scss */
.communications {
  margin-left: 5.04587%;
  width: 24.31193%;
  float: left;
  margin-right: 0.91743%;
  font-family: "RobotoCondensedRegular";
  padding-bottom: 20px;
}

/* line 233, sass/_grids.scss */
.communications p {
  font-size: 1.5em;
  color: #fff;
}

/* line 238, sass/_grids.scss */
.communications form {
  /* Firefox 19+ */
  /* Firefox 18- */
  /* Firefox 19+ */
  /* Firefox 18- */
}
/* line 239, sass/_grids.scss */
.communications form input::-webkit-input-placeholder {
  color: #ceaf20;
}
/* line 240, sass/_grids.scss */
.communications form input::-moz-placeholder {
  color: #ceaf20;
}
/* line 241, sass/_grids.scss */
.communications form input::-moz-placeholder {
  color: #ceaf20;
}
/* line 242, sass/_grids.scss */
.communications form input::-ms-input-placeholder {
  color: #ceaf20;
}
/* line 243, sass/_grids.scss */
.communications form textarea::-webkit-input-placeholder {
  color: #ceaf20;
}
/* line 244, sass/_grids.scss */
.communications form textarea::-moz-placeholder {
  color: #ceaf20;
}
/* line 245, sass/_grids.scss */
.communications form textarea::-moz-placeholder {
  color: #ceaf20;
}
/* line 246, sass/_grids.scss */
.communications form textarea::-ms-input-placeholder {
  color: #ceaf20;
}

/* line 249, sass/_grids.scss */
.communications form input {
  background: #2b2b2b;
  border: none;
  border-radius: 7px;
  padding-left: 10px;
  color: #ceaf20;
}

/* line 257, sass/_grids.scss */
.communications form .min_input {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 40px;
  margin-bottom: 10px;
}

/* line 263, sass/_grids.scss */
.communications form .message {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 150px;
  margin-bottom: 10px;
  background: #2b2b2b;
  border: none;
  border-radius: 7px;
  padding-left: 10px;
  color: #ceaf20;
}

/* line 274, sass/_grids.scss */
.communications form .comm_button {
  width: 41.88679%;
  float: left;
  margin-right: 3.77358%;
  height: 35px;
  border: 2px solid #ceaf20;
  border-radius: 10px;
}

/* line 281, sass/_grids.scss */
#contacts {
  width: 24.31193%;
  float: left;
  margin-right: 0.91743%;
  margin-left: 3.02752%;
  font-family: "RobotoCondensedRegular";
  padding-bottom: 20px;
}

/* line 287, sass/_grids.scss */
#contacts .cont_name {
  font-size: 1.5em;
  color: #fff;
}

/* line 291, sass/_grids.scss */
#contacts div {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
}

/* line 295, sass/_grids.scss */
#contacts div img {
  width: 16.98113%;
  float: left;
  margin-right: 3.77358%;
}

/* line 298, sass/_grids.scss */
#contacts div p {
  color: #fff;
  font-size: 1.1em;
}

/* line 302, sass/_grids.scss */
#contacts div p a {
  text-decoration: none;
  color: #fff;
}



@media screen and (max-width: 1160px) {
  /* line 339, sass/_grids.scss */
  header {
    background: url("images/1200_bg.jpg") no-repeat;
  }

  /* line 344, sass/_grids.scss */
  .navigation {
    margin-left: 5.04587%;
    width: 59.63303%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 348, sass/_grids.scss */
  .navigation ul {
    padding-left: 0;
  }

  /* line 351, sass/_grids.scss */
  .socials {
    margin-left: 0%;
    width: 29.3578%;
    float: right;
    margin-right: 0;
  }

  /* line 356, sass/_grids.scss */
  .header_text {
    margin-left: 33.30275%;
    width: 39.44954%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 360, sass/_grids.scss */
  .header_text h1 {
    font-size: 1.7em;
  }

  /* line 366, sass/_grids.scss */
  .competitors .competitors_name {
    font-size: 1.2em;
    top: 60px;
  }

  /* line 371, sass/_grids.scss */
  .competitors .competitors_number {
    font-size: 5em;
    top: 15px;
  }

  /* line 375, sass/_grids.scss */
  .about h2 {
    margin-bottom: 10px;
  }

  /* line 378, sass/_grids.scss */
  .about p {
    margin-top: 0;
    font-size: 1.2em;
  }

  /* line 382, sass/_grids.scss */
  .competitors .competitors_number {
    font-size: 4em;
    top: 100px;
  }

  /* line 386, sass/_grids.scss */
  .benefits .benefit_name {
    font-size: 1.3em;
  }

  /* line 391, sass/_grids.scss */
  .communications {
    width: 29.3578%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 395, sass/_grids.scss */
  .communications form .min_input {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 399, sass/_grids.scss */
  .communications form .message {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 403, sass/_grids.scss */
  .communications form .comm_button {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 407, sass/_grids.scss */
  #contacts div {
    margin-bottom: 15px;
  }

  /* line 411, sass/_grids.scss */
  #contacts div p {
    font-size: 1em;
    margin-top: 10px;
  }

}
@media screen and (max-width: 980px) {
  /* line 428, sass/_grids.scss */
  .toggle-nav {
    margin-left: 5.04587%;
    width: 6.14679%;
    float: left;
    margin-right: 0.91743%;
    display: inline-block;
  }

  /* line 434, sass/_grids.scss */
  .navigation {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  /* line 439, sass/_grids.scss */
  .navigation ul li {
    display: block;
    padding-right: 25px;
    text-align: center;
  }

  /* line 445, sass/_grids.scss */
  .navigation ul.active {
    display: none;
  }

  /* line 449, sass/_grids.scss */
  .navigation ul {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-right: 0;
    width: 100%;
  }

  /* line 455, sass/_grids.scss */
  .navigation li {
    float: none;
    display: block;
    padding-left: 10px;
    margin-right: 0;
  }

  /* line 462, sass/_grids.scss */
  .navigation ul li a {
    font-size: 1.8em;
  }

  /* line 466, sass/_grids.scss */
  .navigation ul :nth-child(6) {
    margin-right: 0;
  }

  /* line 470, sass/_grids.scss */
  .socials {
    position: absolute;
    margin-top: 0;
    margin-left: 70%;
  }

  /* line 476, sass/_grids.scss */
  .socials p {
    width: 82.8125%;
    float: left;
    margin-right: 3.125%;
  }

  /* line 480, sass/_grids.scss */
  .socials img {
    width: 10.625%;
    float: left;
    margin-right: 3.125%;
  }

  /* line 484, sass/_grids.scss */
  .logotip {
    margin-left: 35.3211%;
    width: 29.3578%;
    float: left;
    margin-right: 0.91743%;
    margin-top: 20px;
  }

  /* line 489, sass/_grids.scss */
  .logotip img {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 492, sass/_grids.scss */
  .header_text {
    margin-left: 25.22936%;
    width: 49.54128%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 497, sass/_grids.scss */
  .header_text h1 {
    font-size: 1.8em;
  }

  /* line 503, sass/_grids.scss */
  .middle {
    margin-top: 0;
  }

  /* line 506, sass/_grids.scss */
  .about h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }

  /* line 511, sass/_grids.scss */
  .about p {
    font-size: 1.1em;
    margin-top: 0;
  }

  /* line 516, sass/_grids.scss */
  .about button {
    width: 65.625%;
    float: left;
    margin-right: 3.125%;
  }

  /* line 519, sass/_grids.scss */
  .competitors .competitors_name {
    font-size: 1em;
    top: 55px;
  }

  /* line 524, sass/_grids.scss */
  .competitors .competitors_number {
    font-size: 4em;
    top: 85px;
  }

  /* line 529, sass/_grids.scss */
  .benefits .benefit_name {
    font-size: 1.2em;
  }

  /* line 533, sass/_grids.scss */
  .benefits div {
    margin-bottom: 20px;
  }

}
@media screen and (max-width: 800px) {
  /* line 547, sass/_grids.scss */
  header {
    min-height: 600px;
  }

  /* line 550, sass/_grids.scss */
  .toggle-nav {
    width: 11.19266%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 554, sass/_grids.scss */
  .socials {
    width: 39.44954%;
    float: right;
    margin-right: 0;
    margin-left: 60%;
  }

  /* line 560, sass/_grids.scss */
  .socials p {
    width: 76.97674%;
    float: left;
    margin-right: 2.32558%;
  }

  /* line 564, sass/_grids.scss */
  .socials img {
    width: 13.02326%;
    float: left;
    margin-right: 2.32558%;
  }

  /* line 567, sass/_grids.scss */
  .navigation ul li a {
    font-size: 1.5em;
  }

  /* line 570, sass/_grids.scss */
  .header_text p {
    font-size: 1.2em;
  }

  /* line 574, sass/_grids.scss */
  .header_text h1 {
    font-size: 1.5em;
  }

  /* line 582, sass/_grids.scss */
  .about {
    margin-left: 5.04587%;
    width: 89.90826%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 587, sass/_grids.scss */
  .about h2 {
    font-size: 2em;
    text-align: center;
  }

  /* line 592, sass/_grids.scss */
  .about p {
    font-size: 1.3em;
    line-height: 1.6;
    text-align: center;
  }

  /* line 598, sass/_grids.scss */
  .about button {
    margin-left: 5.04587%;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  /* line 604, sass/_grids.scss */
  .competitors {
    display: none;
  }

  /* line 608, sass/_grids.scss */
  .benefits {
    margin-left: 5.04587%;
    width: 89.90826%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 613, sass/_grids.scss */
  .benefits .benefit_name {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-align: center;
  }

  /* line 619, sass/_grids.scss */
  .benefits div {
    margin-bottom: 40px;
  }

  /* line 624, sass/_grids.scss */
  .communications {
    margin-left: 5.04587%;
    width: 89.90826%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 629, sass/_grids.scss */
  .communications p {
    font-size: 1.5em;
  }

  /* line 634, sass/_grids.scss */
  #contacts {
    width: 89.90826%;
    float: left;
    margin-right: 0.91743%;
    margin-left: 5.04587%;
  }

  /* line 639, sass/_grids.scss */
  #contacts div {
    width: 55.10204%;
    float: left;
    margin-right: 1.02041%;
  }
  
}
@media screen and (max-width: 640px) {
  /* line 666, sass/_grids.scss */
  header {
    background: url("images/640_bg.jpg") no-repeat;
    min-height: 800px;
  }

  /* line 671, sass/_grids.scss */
  .toggle-nav {
    width: 14.22018%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 675, sass/_grids.scss */
  .socials {
    display: none;
  }

  /* line 679, sass/_grids.scss */
  .logotip {
    margin-left: 20.18349%;
    width: 59.63303%;
    float: left;
    margin-right: 0.91743%;
    margin-top: -5px;
  }

  /* line 684, sass/_grids.scss */
  .navigation {
    margin-top: -20px;
  }

  /* line 687, sass/_grids.scss */
  .header_text {
    margin-left: 15.13761%;
    width: 69.72477%;
    float: left;
    margin-right: 0.91743%;
  }


}
@media screen and (max-width: 500px) {
  /* line 697, sass/_grids.scss */
  header {
    min-height: 620px;
  }

  /* line 701, sass/_grids.scss */
  .header_text {
    margin-left: 5.04587%;
    width: 89.90826%;
    float: left;
    margin-right: 0.91743%;
  }

  /* line 705, sass/_grids.scss */
  .header_text h1 {
    font-size: 1.3em;
  }

  /* line 709, sass/_grids.scss */
  .about h2 {
    font-size: 1.5em;
  }

  /* line 712, sass/_grids.scss */
  .about p {
    font-size: 1.1em;
  }

  /* line 716, sass/_grids.scss */
  .benefits .benefit_name {
    font-size: 1.3em;
  }
  #contacts div {
    width: 77.55102%;
    float: left;
    margin-right: 1.02041%;
  }
}
@media screen and (max-width: 500px) and (max-width: 400px) {
  /* line 720, sass/_grids.scss */
  header {
    background: url("images/400_bg.jpg") no-repeat;
    min-height: 610px;
  }
}
/* line 45, sass/_normalizer.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, sass/_normalizer.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, sass/_normalizer.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, sass/_normalizer.scss */
[hidden], template {
  display: none;
}

/* line 97, sass/_normalizer.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, sass/_normalizer.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, sass/_normalizer.scss */
body {
  margin: 0;
}

/* line 132, sass/_normalizer.scss */
a {
  background: transparent;
}
/* line 139, sass/_normalizer.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, sass/_normalizer.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, sass/_normalizer.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, sass/_normalizer.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, sass/_normalizer.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, sass/_normalizer.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, sass/_normalizer.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, sass/_normalizer.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, sass/_normalizer.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, sass/_normalizer.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, sass/_normalizer.scss */
dfn {
  font-style: italic;
}

/* line 217, sass/_normalizer.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, sass/_normalizer.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, sass/_normalizer.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, sass/_normalizer.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, sass/_normalizer.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, sass/_normalizer.scss */
small {
  font-size: 80%;
}

/* line 286, sass/_normalizer.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, sass/_normalizer.scss */
sup {
  top: -0.5em;
}

/* line 298, sass/_normalizer.scss */
sub {
  bottom: -0.25em;
}

/* line 350, sass/_normalizer.scss */
img {
  border: 0;
}

/* line 359, sass/_normalizer.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, sass/_normalizer.scss */
figure {
  margin: 0;
}

/* line 386, sass/_normalizer.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, sass/_normalizer.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, sass/_normalizer.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, sass/_normalizer.scss */
button, input {
  line-height: normal;
}

/* line 435, sass/_normalizer.scss */
button,
select {
  text-transform: none;
}

/* line 448, sass/_normalizer.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, sass/_normalizer.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, sass/_normalizer.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, sass/_normalizer.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, sass/_normalizer.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, sass/_normalizer.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, sass/_normalizer.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, sass/_normalizer.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
