@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<div class="flex-container-center">
    <h1>Панель управления Big Family</h1>
    <p>Выше расположено меню для навигации по панели управления.</p>
</div>